#containerTransacoes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 450px;
}
.botaoTransacao {
  width: 95%;
  height: 30px;
  border: none;
  display: flex;
  flex-direction: space-around;
  align-items: center;
  margin: 5px;
}
.botaoTransacao:hover {
  border-bottom: solid 1px;
  cursor: pointer;
}
